
.ipynb_checkpoints/Cumulative C02 emissions Pivot Table-checkpoint.csv
.ipynb_checkpoints/MathModel-checkpoint.ipynb
.ipynb_checkpoints/MathModel-checkpoint.ipynb
.ipynb_checkpoints/MathModel-checkpoint.ipynb
.ipynb_checkpoints/PivotTable-checkpoint.ipynb
/.ipynb_checkpoints
.ipynb_checkpoints/MathModel-checkpoint.ipynb
